{% extends 'base.html' %}
{% block title %}{{product.name}}詳細{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">{{ product.name }}の詳細</h2>

  <!-- 商品画像 -->
  <div class="text-center mb-4">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product_detail_img">
  </div>

  <!-- 商品詳細テーブル -->
  <div class="mb-4">
    <table class="w-50 mx-auto product_detail_table">
      <tbody>
        <tr>
          <th scope="row">商品名</th>
          <td>{{ product.name }}</td>
        </tr>
        <tr>
        <tr>
          <th>メーカー</th>
          <td>{{ product.manufacturer}}</td>
        </tr>
        <tr>
          <th>種別</th>
          <td>{{ product.category}}</td>
        </tr>
        <tr>
          <th>カラー</th>
          <td>{{ product.position}}</td>
        </tr>
        <tr>
          <th>ポジション</th>
          <td>{{ product.position}}</td>
        </tr>
        <th scope="row">価格</th>
        <td>￥{{ product.price }}</td>
        </tr>
        <tr>
          <th scope="row">説明</th>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- カート追加ボタン -->
  <div class="text-center w-50 d-flex justify-content-around mx-auto mb-5">
    <form method="POST" action="{% url 'orders:add_to_cart' product.id %}">
      {% csrf_token %}
      <button type="submit" class="button">カートに追加</button>
    </form>
    <p><a href="{% url 'products:product_list' %}" class="button">商品一覧に戻る</a></p>
  </div>
  カートに追加ボタンと購入手続きへボタンを作る
</div>

{% endblock %}