{% extends 'base.html' %}
{% block title %}ユーザー編集{% endblock %}
{% load static %}
{% block content %}

<div class="py-5 text-center">
      <h2>ユーザー情報編集</h2>
</div>
<div class="container w-50 mx-auto">
  <form class="needs-validation" novalidate="" method="POST">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-12 w-50">
        <label for="username" class="form-label">名前</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" name="username" required="" value="{{user_form.username.value}}">
          <div class="invalid-feedback">
            名前は必須です
          </div>
        </div>
      </div>
      <div class="col-12 w-100">
        <label for="email" class="form-label">メールアドレス</label>
        <input type="email" class="form-control" name="email" value="{{user_form.email.value}}">
        <div class="invalid-feedback">
          メールアドレスは必須です
        </div>
      </div>
      <div class="col-12 w-50">
        <label for="zip" class="form-label">郵便番号</label>
        <input type="text" class="form-control" name="postal_code" placeholder="123-4567" required="" value="{{address_form.postal_code.value}}">
        <div class="invalid-feedback">
          郵便番号は必須です
        </div>
      </div>
      <div class="col-12 w-50">
        <label for="country" class="form-label">国名</label>
        <select class="form-select" name="country" required="">
          <option value="">選択</option>
          <option value="日本" {% if address_form.country.value == "日本" %}selected {% endif %}>日本</option>
        </select>
        <div class="invalid-feedback">
          国名は必須です
        </div>
      </div>
      <div class="col-12 w-50">
        <label for="state" class="form-label">都道府県</label>
        <select class="form-select" name="prefecture" required="">
          <option value="">選択</option>
          <option value="東京都" {% if address_form.prefecture.value == "東京都" %}selected {% endif %}>東京都</option>
        </select>
        <div class="invalid-feedback">
          都道府県は必須です
        </div>
      </div>
    </div>
    <div class="col-12 w-75 mt-3">
      <label for="address" class="form-label">市区町村</label>
      <input type="text" class="form-control" name="city" placeholder="港区" required="" value="{{address_form.city.value}}">
      <div class="invalid-feedback">
        市区町村は必須です
      </div>
    </div>
    <div class="col-12 mt-3">
      <label for="address2" class="form-label">丁目以下</label>
      <input type="text" class="form-control" name="street" placeholder="麻布十番1-2-3" value="{{address_form.street.value}}">
    </div>
    <hr class="my-4">
    <div class="col12 w-50 mx-auto text-center mb-4 d-flex justify-content-between">
      <a href="{% url 'users:user' %}" class="btn btn-secondary ms-2">キャンセル</a>
      <button class="button w-25" type="submit">更新</button>
    </div>
  </form>
</div>
{% endblock %}