{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header class="bg-primary-subtle text-emphasis-primary">
      <div class="base_header">
        <div class="header_logo">
          <img src="{% static 'images/logo.jpeg' %}" alt="画像" height="60" width="50" class="header_logo_img">
        </div>
        <a href="{% url 'users:home' %}" class="header_title_link">
          <h1 class="heaer_title">base_shop</h1>
        </a>
      </div>
      <nav class="navbar navbar-expand-lg bg-primary-subtle text-emphasis-primary base-nav">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:home' %}">
                  <div class="header_image_container">
                    <img src="{% static 'images/home.png' %}" alt="home画像"  class="header_nav_img">
                    <div class="caption">ホーム</div>
                  </div>
                </a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:user' %}">
                  <div class="header_image_container">
                    <img src="{% static 'images/mypage.png' %}" alt="mypage画像"  class="header_nav_img">
                    <div class="caption">マイページ</div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'orders:view_cart' %}">
                  <div class="header_image_container">
                    <img src="{% static 'images/cart.png' %}" alt="cart画像"  class="header_nav_img">
                    <div class="caption">カート</div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <form method="POST" action="{% url 'users:user_logout' %}" class="nav-link">
                  {% csrf_token %}
                  <button type="submit" class="header_image_container" style="border: none; background: none;">
                      <img src="{% static 'images/logout.png' %}" alt="logout画像"  class="header_nav_img">
                      <div class="caption">ログアウト</div>
                  </button>
                  
                </form>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:user_login' %}">
                  <div class="header_image_container">
                    <img src="{% static 'images/login.png' %}" alt="login画像"  class="header_nav_img">
                    <div class="caption">ログイン</div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:regist' %}">
                  <div class="header_image_container">
                    <img src="{% static 'images/regist.png' %}" alt="regist画像"  class="header_nav_img">
                    <div class="caption">ユーザー登録</div>
                  </div>
                </a>
              </li>
              <li class="nav-item administrator_item">
                <a class="nav-link " href="{% url 'products:home' %}">管理者ログイン</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </nav>
      </div>
    </header>
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info alert-dismissible fade show mt-4 w-25 base-fade-in " role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="bg-primary-subtle text-emphasis-primary">
      <small>©︎2025 <span class="footer_title">base_shop</span></small>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>