{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header class="bg-primary-subtle text-emphasis-primary">
      <div class="base_header">
        <div class="header_logo">
          <img src="{% static 'images/logo.jpeg' %}" alt="画像" height="60" width="50" class="header_logo_img">
        </div>
        <a href="{% url 'users:home' %}" class="header_title_link">
          <h1 class="heaer_title">base_shop</h1>
        </a>
      </div>
      <nav class="navbar navbar-expand-lg bg-primary-subtle text-emphasis-primary base-nav">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:home' %}">ホーム</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'users:user' %}">マイページへ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:product_list' %}">商品一覧へ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'orders:view_cart' %}">カートへ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:user_logout' %}">ログアウト</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:user_login' %}">ログイン</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:regist' %}">ユーザー登録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:home' %}">管理者ログイン</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </nav>
      </div>
    </header>
    {% if messages %}
    <ul class="messages text-danger">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="bg-primary-subtle text-emphasis-primary">
      2025title
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>