body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top:0;
}

main {
  flex: 1;
}

footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pinyon Script", cursive;
}

h1 {
  font-family: "Pinyon Script", cursive;
  margin-left: 8px;
  color: #000;
  margin-top: 8px;
}


.base_header {
  display: flex;
}

.header_title_link {
  text-decoration: none;
}

.header_nav_img {
  display: block;
  height: 30px;
  width: 35px;
}

.header_image_container {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 35px;
}

.caption {
  position: absolute;
  bottom: -20px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  padding: 2px 6px;
  white-space: nowrap;
}

.nav-item {
  margin-left: 16px;
}

.administrator_item {
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  transition-duration: 1s;
}
.administrator_item:hover {
  background: #91bbee;
  border: 1px solid #91bbee;
  transition-duration: 1s;
}
