{% extends 'base.html' %}
{% block title %}{{product.name}}注文確定{% endblock %}

{% block content %}
<div class="container mt-5">

  <h2 class="text-center">注文確定</h2>

  {% for item in cart_items %}
  <div class="list-group-item d-flex align-items-center justify-content-between w-50 mx-auto mt-4">
    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail me-3" height="300px"
      width="200px">
    <div class="d-flex flex-column align-items-end">
      <h5 class="mb-2">{{ item.product.name }}</h5>
      <p class="mb-2">￥{{ item.product.price }} × {{ item.quantity }}</p>
      <p><strong>小計: ￥{{item.subtotal}}</strong></p>
      <a href="{% url 'orders:remove_from_cart' item.id %}" class="mb-2 button">削除</a>
    </div>
  </div>
  {% endfor %}

  <div class="my-5 w-50 mx-auto d-flex align-items-end justify-content-between">
    <a href="{% url 'orders:view_cart' %}" class="button btn_back">カートに戻る</a>
    <div class="text-end ">
      <h4>合計金額: ¥{{total_price}}</h4>
      <p class="m-0">お届け先住所:{{address}}</p>
      <a href="{% url 'orders:address' %}">配送先住所を変更する</a><br>
      <div class="d-flex align-items-center gap-3 mt-3">
        <label for="pay" class="mb-0 w-auto">お支払い方法:</label>
        <select id="pay" class=" w-auto order_select">
          <option selected>選択してください</option>
          <option value="cash">現金</option>
          <option value="credit">クレジットカード</option>
          <option value="convenience">コンビニ支払い</option>
        </select>
      </div>
      <form method="post" id="purchaseForm" action="{% url 'orders:confirm' %}">
        {% csrf_token %}
        <!-- Button trigger modal -->
        <button type="button" class="button mt-4" data-bs-toggle="modal" data-bs-target="#confirmed_btn">
          注文を確定する(Modal)
        </button>

        <!-- Modal -->
        <div class="modal fade" id="confirmed_btn" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                購入を確定します。よろしいですか?
              </div>
              <div class="modal-footer d-flex justify-conntent-end ">
                <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="button btn-primary ms-4 px-4" onclick="document.getElementById('purchaseForm').submit();">購入する</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="text-center mt-3">

  </div>



</div>
{% endblock %}